body{
    margin: 0;
    padding: 0;
    background-color: #232323;
}

h3{
    margin-left: 20px;
    position: fixed;
    z-index: 10;
    color: white;
}

h1{
    color: white;
    position: fixed;
    z-index: 10;
    left: -500%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
}
